body {
    background-color: black;
    color: white;
    margin: 0 auto;
}

h1 {
    text-align: center;
}

.hero {
    width: 100%;
    height: auto;
    align-items: center;
}

img {
    width: 100%;
    height: auto;
}