/* Resets section */
#content {
    max-width: 1600px;
    margin: 0 auto;
}
h2 {
    margin: 0;
}
/* This is my main CSS file */
body {
    font-family: "Saira", "Saira Semi Condensed", "Saira Extra Condensed", sans-serif;
    color: #dde6ed;
}
.black {
    color: black;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1rem;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    font-family: "Gloria Hallelujah", "Saira", "Saira Semi Condensed", "Saira Extra Condensed", sans-serif;
}

header, nav, main, footer {
    max-width: 800px;
    margin: 1rem auto;
    padding: 1rem;
}

#picture {
    max-width: 65px;
}

nav {
    list-style: none;
    background-color: #333;
    color: #fff;
    max-width: 700px;
}

nav a{
    display: block;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
	color: #fff;
}

.navigation a:hover {
	background-color: #bbb;
	color: #333;
	font-weight: 700;
}

#section2 div {
    display: flex;
    justify-content: space-around;
}


header, footer, main h2 {
    background-color: #27374d;
}

h2 {
    padding: 1rem;
    text-align: center;
}

#title {
    border-bottom: 1px solid #ccc;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 1.7rem;
    padding: 1rem;
    text-align: center;
    font-family: "Gloria Hallelujah", "Saira", "Saira Semi Condensed", "Saira Extra Condensed", sans-serif;
}

#flog {
    max-width: 45px;
}
