fieldset {
    margin: 2rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    padding: 0 .5rem;
}

legend {
    color: #445ba9;
    padding: 0 .5rem;
}

label {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
    font-size: .9rem;
}

.form div {
    padding-top: 1rem;
    color: #445ba9;
    font-size: .9rem;
}

.form input[type="text"],
.form input[type="password"],
.form input[type="email"] {
    background-color: #eee;
    display: block;
    border: solid 1px #999;
    border-radius: 6px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 400px;
    appearance: none;
}

.form input[type="range"] {
    display: block;
    border-radius: 6px;
    padding: .75rem;
    width: 100%;
    max-width: 400px;
}

.form input[type="submit"] {
    border: none;
    background-image: linear-gradient(#9c2c13, #6f200e);
    color: #fff;
    border-radius: 6px;
    padding: .8rem;
    width: 96%;
    max-width: 400px;
    margin: -1rem 2% 2rem 2%;
    box-shadow: 1px 1px 4px #999;
}

.form input:required {
    border: solid 2px red;
}

.form input:required:valid {
    border: solid 2px green;
}

