@media screen and (min-width: 500px){
    #home-grid {
        display: grid;
    }
    h2 {
        grid-column: 1/10;
    }
    #picture, section {
        border-radius: 3%;
        box-shadow: 0 0 30px dimgray;
    }
    #section1 {
        grid-column: 1/6;
    }

    #section2 {
        grid-column: 7/9;
    }
}